*.txt
*.ex4
*.bak


Experts
Files
Images
Indicators
Logs
Presets
Projects


Libraries/mqlcache.dat
Libraries/stdlib.ex4
Libraries/stdlib.mq4

Include/Arrays
Include/Canvas
Include/ChartObjects
Include/Charts
Include/Controls
Include/Files
Include/Indicators
Include/Strings
Include/Tools

Include/MovingAverages.mqh
Include/Object.mqh
Include/stderror.mqh
Include/stdlib.mqh
Include/StdLibErr.mqh
Include/WinUser32.mqh


Scripts/Examples
Scripts/PeriodConverter.mq4
Scripts/mqlcache.dat